In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('original.csv')
df.head()

,Image Index,Finding Labels,Follow-up #,Patient ID,Patient Age,Patient Gender,View Position,OriginalImage[Width,Height],OriginalImagePixelSpacing[x,y],Unnamed: 11
0,00000001_000.png,Cardiomegaly,0,1,58,M,PA,2682,2749,0.143,0.143,NaN
1,00000001_001.png,Cardiomegaly|Emphysema,1,1,58,M,PA,2894,2729,0.143,0.143,NaN
2,00000001_002.png,Cardiomegaly|Effusion,2,1,58,M,PA,2500,2048,0.168,0.168,NaN
3,00000002_000.png,No Finding,0,2,81,M,PA,2500,2048,0.171,0.171,NaN
4,00000003_000.png,Hernia,0,3,81,F,PA,2582,2991,0.143,0.143,NaN

In [3]:
df['Id'] = df.apply(lambda row: row['Image Index'].split('.')[0], axis=1)
df['all'] = df.apply(lambda row: row['Finding Labels'].split('|'), axis=1)
conditions = list(set(sum(df['all'].to_list(), [])))
for condition in conditions:
    df[condition] = df.apply(lambda row: 1 if condition in row['all'] else 0, axis=1)
df['Male_Female'] = df.apply(lambda row: 0 if row['Patient Gender'] == 'M' else 1, axis=1)
df['AP_PA'] = df.apply(lambda row: 0 if row['View Position'] == 'AP' else 1, axis=1)
df.head()

,Image Index,Finding Labels,Follow-up #,Patient ID,Patient Age,Patient Gender,View Position,OriginalImage[Width,Height],OriginalImagePixelSpacing[x,...,Infiltration,Pneumothorax,Mass,Effusion,Pneumonia,Edema,Fibrosis,Cardiomegaly,Male_Female,AP_PA
0,00000001_000.png,Cardiomegaly,0,1,58,M,PA,2682,2749,0.143,...,0,0,0,0,0,0,0,1,0,1
1,00000001_001.png,Cardiomegaly|Emphysema,1,1,58,M,PA,2894,2729,0.143,...,0,0,0,0,0,0,0,1,0,1
2,00000001_002.png,Cardiomegaly|Effusion,2,1,58,M,PA,2500,2048,0.168,...,0,0,0,1,0,0,0,1,0,1
3,00000002_000.png,No Finding,0,2,81,M,PA,2500,2048,0.171,...,0,0,0,0,0,0,0,0,0,1
4,00000003_000.png,Hernia,0,3,81,F,PA,2582,2991,0.143,...,0,0,0,0,0,0,0,0,1,1

In [4]:
df['all'] = df.apply(lambda row: {'Male_Female':int(row['Male_Female']),
                                  'AP_PA':int(row['AP_PA']),
                                  'No_Finding':int(row['No Finding']),
                                  'Hernia':int(row['Hernia']),
                                  'Emphysema':int(row['Emphysema']),
                                  'Cardiomegaly':int(row['Cardiomegaly']),
                                  'Nodule':int(row['Nodule']),
                                  'Mass':int(row['Mass']),
                                  'Edema':int(row['Edema']),
                                  'Consolidation':int(row['Consolidation']),
                                  'Pneumonia':int(row['Pneumonia']),
                                  'Atelectasis':int(row['Atelectasis']),
                                  'Pneumothorax':int(row['Pneumothorax']),
                                  'Effusion':int(row['Effusion']),
                                  'Pleural_Thickening':int(row['Pleural_Thickening']),
                                  'Fibrosis':int(row['Fibrosis']),
                                  'Infiltration':int(row['Infiltration'])}, axis=1)

# re-ordering columns
df = df[['Id', 'Patient ID', 'OriginalImage[Width', 'Height]', 'all', 'Patient Age', 'Male_Female', 'AP_PA', 'No Finding', 'Hernia',
         'Emphysema', 'Cardiomegaly', 'Nodule', 'Mass', 'Edema', 'Consolidation', 'Pneumonia',
         'Atelectasis', 'Pneumothorax', 'Effusion', 'Pleural_Thickening', 'Fibrosis', 'Infiltration']]

# re-naming columns
df.columns = ['Id', 'Patient', 'width', 'height', 'all', 'Age', 'Male_Female', 'AP_PA', 'No_Finding', 'Hernia',
         'Emphysema', 'Cardiomegaly', 'Nodule', 'Mass', 'Edema', 'Consolidation', 'Pneumonia',
         'Atelectasis', 'Pneumothorax', 'Effusion', 'Pleural_Thickening', 'Fibrosis', 'Infiltration']

df.to_csv('info.csv', index=False)
df.head()

,Id,Patient,width,height,all,Age,Male_Female,AP_PA,No_Finding,Hernia,...,Mass,Edema,Consolidation,Pneumonia,Atelectasis,Pneumothorax,Effusion,Pleural_Thickening,Fibrosis,Infiltration
0,00000001_000,1,2682,2749,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 0...",58,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00000001_001,1,2894,2729,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 0...",58,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00000001_002,1,2500,2048,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 0...",58,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,00000002_000,2,2500,2048,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 1...",81,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,00000003_000,3,2582,2991,"{'Male_Female': 1, 'AP_PA': 1, 'No_Finding': 0...",81,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_bbox = pd.read_csv('original_bbox.csv')
df_bbox['Id'] = df_bbox.apply(lambda row: row['Image Index'].split('.')[0], axis=1)
df_bbox = pd.merge(df_bbox, df, on='Id', how='inner')
df_bbox['x2'] = df_bbox.apply(lambda row: row['Bbox [x'] + row['w'], axis=1)
df_bbox['y2'] = df_bbox.apply(lambda row: row['y'] + row['h]'], axis=1)
df_bbox = df_bbox[['Id', 'width', 'height', 'Bbox [x', 'y', 'x2', 'y2', 'Finding Label']]
df_bbox.columns = ['Id', 'width', 'height', 'x1', 'y1', 'x2', 'y2', 'Label']
df_bbox.to_csv('info_bbox.csv', index=False)
df_bbox.head()

,Id,width,height,x1,y1,x2,y2,Label
0,00013118_008,2992,2991,225.084746,547.019217,311.864407,626.205657,Atelectasis
1,00014716_007,3056,2544,686.101695,131.543498,871.593220,445.035024,Atelectasis
2,00029817_009,3056,2544,221.830508,317.053115,376.949153,534.002268,Atelectasis
3,00014687_001,2500,2048,726.237288,494.951420,867.254237,550.273454,Atelectasis
4,00017877_001,2500,2048,660.067797,569.780787,860.745763,647.882481,Atelectasis

In [6]:
df_tv = pd.read_csv('train_val_list.txt', header=None)
tv = df_tv.apply(lambda row: row[0].split('.')[0], axis=1).to_list()
tv = list(set(df[df['Id'].isin(tv)].Patient.to_list()))
df_t = pd.read_csv('test_list.txt', header=None)
t = df_t.apply(lambda row: row[0].split('.')[0], axis=1).to_list()
t = list(set(df[df['Id'].isin(t)].Patient.to_list()))
len(tv), len(t)

(28008, 2797)

In [7]:
import random
random.shuffle(tv)
print(len(tv))

28008

In [8]:
splits = {'train':tv[:22406],
          'valid':tv[22406:25207],
          'test':tv[25207:],
          'bbox_ids':t
         }

In [9]:
for key, value in splits.items():
    pdf = df[df.Patient.isin(value)]
    display(pdf.head())
    pdf = pd.DataFrame(pdf.Id.tolist(), columns=['Id'])
    pdf.to_csv(key + '.csv', index=False)
    display(pdf.head())

,Id,Patient,width,height,all,Age,Male_Female,AP_PA,No_Finding,Hernia,...,Mass,Edema,Consolidation,Pneumonia,Atelectasis,Pneumothorax,Effusion,Pleural_Thickening,Fibrosis,Infiltration
0,00000001_000,1,2682,2749,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 0...",58,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00000001_001,1,2894,2729,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 0...",58,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00000001_002,1,2500,2048,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 0...",58,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,00000002_000,2,2500,2048,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 1...",81,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
12,00000004_000,4,2500,2048,"{'Male_Female': 0, 'AP_PA': 0, 'No_Finding': 0...",82,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

             Id
0  00000001_000
1  00000001_001
2  00000001_002
3  00000002_000
4  00000004_000

,Id,Patient,width,height,all,Age,Male_Female,AP_PA,No_Finding,Hernia,...,Mass,Edema,Consolidation,Pneumonia,Atelectasis,Pneumothorax,Effusion,Pleural_Thickening,Fibrosis,Infiltration
21,00000006_000,6,2500,2048,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 1...",81,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
88,00000017_000,17,2500,2048,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 0...",77,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
89,00000017_001,17,2500,2048,"{'Male_Female': 0, 'AP_PA': 0, 'No_Finding': 1...",77,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
90,00000017_002,17,2500,2048,"{'Male_Female': 0, 'AP_PA': 0, 'No_Finding': 1...",78,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
109,00000028_000,28,2048,2500,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 0...",63,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

             Id
0  00000006_000
1  00000017_000
2  00000017_001
3  00000017_002
4  00000028_000

,Id,Patient,width,height,all,Age,Male_Female,AP_PA,No_Finding,Hernia,...,Mass,Edema,Consolidation,Pneumonia,Atelectasis,Pneumothorax,Effusion,Pleural_Thickening,Fibrosis,Infiltration
26,00000009_000,9,2992,2991,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 0...",73,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
98,00000022_000,22,2048,2500,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 1...",48,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
99,00000022_001,22,2500,2048,"{'Male_Female': 0, 'AP_PA': 1, 'No_Finding': 0...",49,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
113,00000031_000,31,2992,2991,"{'Male_Female': 1, 'AP_PA': 1, 'No_Finding': 1...",71,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
206,00000042_000,42,3056,2544,"{'Male_Female': 0, 'AP_PA': 0, 'No_Finding': 1...",71,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

             Id
0  00000009_000
1  00000022_000
2  00000022_001
3  00000031_000
4  00000042_000

,Id,Patient,width,height,all,Age,Male_Female,AP_PA,No_Finding,Hernia,...,Mass,Edema,Consolidation,Pneumonia,Atelectasis,Pneumothorax,Effusion,Pleural_Thickening,Fibrosis,Infiltration
4,00000003_000,3,2582,2991,"{'Male_Female': 1, 'AP_PA': 1, 'No_Finding': 0...",81,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5,00000003_001,3,2500,2048,"{'Male_Female': 1, 'AP_PA': 1, 'No_Finding': 0...",74,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
6,00000003_002,3,2048,2500,"{'Male_Female': 1, 'AP_PA': 1, 'No_Finding': 0...",75,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
7,00000003_003,3,2698,2991,"{'Male_Female': 1, 'AP_PA': 1, 'No_Finding': 0...",76,1,1,0,1,...,0,0,0,0,0,0,0,0,0,1
8,00000003_004,3,2500,2048,"{'Male_Female': 1, 'AP_PA': 1, 'No_Finding': 0...",77,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

             Id
0  00000003_000
1  00000003_001
2  00000003_002
3  00000003_003
4  00000003_004